<div [formGroup]="measuresFilterForm"
     class="wrapper">
    <p-multiSelect [formControl]="measuresFilterForm.controls['vectorId']"
                   [options]="vectors()"
                   optionValue="id"
                   optionLabel="name"
                   placeholder="Выберите вектор меры"
                   appendTo="body"/>
    <p-multiSelect [formControl]="measuresFilterForm.controls['vectorId']"
                   [options]="vectors()"
                   optionValue="id"
                   optionLabel="name"
                   placeholder="Выберите вектор меры"
                   appendTo="body"/>
    <p-multiSelect [formControl]="measuresFilterForm.controls['vectorId']"
                   [options]="vectors()"
                   optionValue="id"
                   optionLabel="name"
                   placeholder="Выберите вектор меры"
                   appendTo="body"/>
</div>
