<div class="wrapper">
    <div class="action-block">
        <div class="threats-list">
            <app-threats-filters/>
            <app-threats-list/>
        </div>
        <div>
            <div class="measures-list">
                <app-threat-info/>
                <app-measures-filters/>
                <app-measures-list/>
            </div>
            <div class="threat-info">

            </div>
        </div>
    </div>
    <div class="analytics-block">
        <app-threats-analytics/>
    </div>
</div>
